<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
Imma baddie baddie baddie <br>
Pretty little risky baddie <br>
뭐든 될 대로 되라지 Catch me if you can <br>
Baddie baddie baddie <br>
나는 없어 거기 이미<br>
어차피 못 찾을 테니 Catch me if you can<br>
<br>
Nothing like the regulars<br>
내 DNA엔 blue blood runs<br>
더 솔직하게 말해줘 착한 척은 지겨워<br>
우리 앞에선 룰이<br>
의미 없었어 굳이<br>
유행이 돌고 돌아도 난 그 틀에 없어 이미<br>
I wanna break I wanna kick<br>
뛰어 놀래 시끄럽게<br>
다채로운 매력 수많은 변칙 위에 더 빛을 발하지<br>
<br>
답답한 건 벗어 던져<br>
고개 숙일 필요 없어<br>
<br>
Imma baddie baddie baddie<br>
Pretty little risky baddie<br>
뭐든 될 대로 되라지 Catch me if you can<br>
Baddie baddie baddie<br>
나는 없어 거기 이미<br>
어차피 못 찾을 테니 Catch me if you can<br>
<br>
And the fit pop like bubblegum<br>
내 판단을 믿어 난<br>
할말도 많아 참<br>
모자이크 없이 Spit it out<br>
난 즐겨 이 troublesome<br>
그 누구도 Can't bite me<br>
원한다면 Come try me<br>
언제든 You're invited<br>
난 thriller 속 villain<br>
생각할 시간에 저지르는 게 my motto<br>
<br>
Imma baddie baddie baddie<br>
Pretty little risky baddie<br>
뭐든 될 대로 되라지 Catch me if you can<br>
Baddie baddie baddie<br>
앞 다퉈 내 길을 막지<br>
가뿐히 날아 오를 테니 Catch me if you can<br>
<br>
Imma baddie baddie baddie<br>
어딜 그리 바삐 가니<br>
뭐든 될 대로 되라지 Catch me if you can<br>
Baddie baddie baddie<br>
나는 없어 거기 이미<br>
어차피 못 찾을 테니 Catch me if you can<br>
<br>
Imma baddie baddie baddie<br>
어딜 그리 바삐 가니<br>
뭐든 될 대로 되라지 Catch me if you can<br>
Baddie baddie baddie<br>
나는 없어 거기 이미<br>
어차피 못 찾을 테니 Catch me if you can<br>
</body>
</html>
