<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
이른 아침 해와 시작되는 내 꿈<br>
울려대는 알람은 기분 좋은 tune<br>
우리 앞에 펼쳐질 아름다운 view<br>
깊이 보기 위해 크게 참은 숨<br>
<br>
있어줄 거야 너의 곁에<br>
날 기다리는 너를 위해<br>
너만 있음 만족해<br>
<br>
오직 널 위한<br>
너만에 의한<br>
Sweetest melody<br>
<br>
그러니까 함부로<br>
날 아프게 아프게 하지마 How dare<br>
네 맘을 숨기고 아닌 척 해봐도 소용없어<br>
벌써 이미<br>
낯선 감정 나를 향해 흐르니<br>
<br>
Ah 눈을 감아 가볍게<br>
잘 들어봐 그렇게<br>
Ah 눈을 떠봐 네 앞에<br>
'Cause I'd always think of you<br>
<br>
사랑은 쉽게 변하지<br>
사람은 쉽게 안 변해<br>
내 맘을 꺼내 보여주면<br>
사랑에 정의가 바뀔 걸<br>
겨울에 핀 flower<br>
추위를 맞서 싸워<br>
너만 있음 난 okay<br>
<br>
오직 널 위한<br>
너만에 의한<br>
Sweetest melody<br>
<br>
그러니까 함부로<br>
날 아프게 아프게 하지마 How dare<br>
네 맘을 숨기고 아닌 척 해봐도 소용없어<br>
벌써 이미<br>
낯선 감정 나를 향해 흐르니<br>
<br>
Ah 눈을 감아 가볍게<br>
잘 들어봐 그렇게<br>
Ah 눈을 떠봐 네 앞에<br>
'Cause I'd always think of you<br>
<br>
Winter's coming<br>
You better get going<br>
어디도 없어<br>
내가 있을 곳<br>
네가 있는 거기<br>
When I feel lonely<br>
필요해 오직<br>
네 웃음 소리<br>
<br>
그러니까 함부로<br>
날 아프게 아프게 하지마 How dare<br>
네 맘을 숨기고 아닌 척 해봐도 소용없어<br>
벌써 이미<br>
낯선 감정 나를 향해 흐르니<br>
<br>
Ah 눈을 감아 가볍게<br>
잘 들어봐 그렇게<br>
Ah 눈을 떠봐 네 앞에<br>
'Cause I'd always think of you<br>
</body>
</html>